:host {
  display: flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-layout {
  height: 100vh;
}

.app-header {
  height: 64px;
  padding: 0px 18px;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.18);
}

.menu-sidebar {
  position: relative;
  height: 100%;
  z-index: 10;
  box-shadow: 2px 0 6px rgba(0, 21, 41, 0.25);
  overflow-y: scroll;
}
.menu-sidebar::-webkit-scrollbar {
  width: 0px;
}

.header-trigger {
  height: 64px;
  font-size: 25px;
  cursor: pointer;
  transition: all 0.3s, padding 0s;
}

.trigger:hover {
  color: #1890ff;
}

.sidebar-logo {
  position: relative;
  height: 64px;
  padding-left: 24px;
  overflow: hidden;
  line-height: 64px;
  background: #001529;
  transition: all 0.3s;
}

.sidebar-logo img {
  display: inline-block;
  height: 45px;
  vertical-align: middle;
}

.sidebar-logo h1 {
  display: inline-block;
  margin: 0 0 0 15px;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  vertical-align: middle;
}

.header-actions i {
  font-size: 20px;
}

.clickable {
  cursor: pointer;
}

nz-header {
  padding: 0;
  width: 100%;
  z-index: 2;
}

nz-content {
  margin: 14px 0px 0px 14px;
  padding: 0px 0px 0px 0px;
}

.inner-content {
  background: #fff;
  height: 100%;
  overflow-y: scroll;
  overflow-x: scroll;
}

// .inner-content::-webkit-scrollbar {
// for styling the scrollbar
// }

// nz-sider .sidebar-menu-container {
//   overflow-y: scroll;
// }

nz-footer {
  height: 50px;
  text-align: center;
}
