<div class="container">
  <div class="login-container">
    <form
      nz-form
      [formGroup]="validateForm"
      class="login-form"
      (ngSubmit)="submitForm()"
    >
      <div nz-row class="login-form-header login-form-margin">
        <div nz-col id="image">
          <img src="assets/robin.png" alt="logo" />
        </div>
        <div nz-col id="text-logo">
          <h1>ARRA LOGIN</h1>
        </div>
      </div>
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your username!">
          <nz-input-group nzSize="large" nzPrefixIcon="user">
            <input
              type="text"
              nz-input
              formControlName="userName"
              placeholder="Username"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your Password!">
          <nz-input-group nzSize="large" nzPrefixIcon="lock" nzSuffixIcon="eye">
            <input
              type="password"
              nz-input
              formControlName="password"
              placeholder="Password"
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <div nz-row class="login-form-margin">
        <div nz-col [nzSpan]="12">
          <label nz-checkbox>
            <span>Remember me</span>
          </label>
        </div>
        <div nz-col [nzSpan]="12">
          <a class="login-form-forgot">Forgot password</a>
        </div>
      </div>

      <button
        [disabled]="isSubmitted"
        nz-button
        class="login-form-button login-form-margin"
        nzType="primary"
      >
        Log in
      </button>

      <p class="login-form-footer">
        Disclaimer: This system is for use of authorized users only.
        Unauthorized access is strictly prohibited.
      </p>
    </form>
  </div>
</div>
