.container {
  width: 100%;
  height: 100%;
  padding-top: 100px;
}

.login-container {
  max-width: 430px;
  border: 1px solid rgb(12, 26, 87, 0.4);
  border-radius: 5%;
  margin: auto;
  box-shadow: rgba(10, 26, 107, 0.2) 0px 5px 20px 0px;
}

.login-form {
  max-width: 100%;
  margin: 5px 16px 25px 16px;
}

#loginFormHeader {
  background-image: url("./../../../assets/batm-full-compact.png");
}

.login-form-header {
  height: 100px;
  width: 100%;
  flex: none;
}
.login-form-header img {
  height: 80px;
}

.login-form-margin {
  margin-bottom: 35px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}

.login-form-footer {
  width: 100%;
  margin: 5px;
  font-style: italic;
}
